<launch>
    <node pkg="control" name="mission1" type="mission1" output="screen"/>
    <!-- lança imu, pid -->
    <include file="$(find motor_ctrl)/launch/asv_pid.launch" />
    <include file="$(find vision_module)/launch/rasp.launch" />
    <include file="$(find tfmini_ros)/launch/tfmini.launch" />

    <include file="$(find vision_module)/launch/ground.launch" />

</launch>